{% extends "layout.html" %}
{% block content %}
                <main>
                    <div class="container-fluid">
                        <ol class="breadcrumb mt-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    <h5>The excel toolkit will slowly be transformed into a webapp. Please use the Quick Notes as that is built!</h5>
                        <p>Many exciting things to come. However, many of the features (such as the search and login/logout) do not work just yet.</p>
                        <center><img src="https://cdn.dribbble.com/users/433429/screenshots/3512879/underconstruction.gif" width="70%"></center>
                    </div>
                </main>
{% endblock content %}